$color_1: #0e2431;
$color_2: #1B252C;
$font-family_1: "Poppins",
sans-serif;
$font-family_2     : 'Righteous';
$background-color_1: #fff;

@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
	margin    : 0;
	padding   : 0;
	box-sizing: border-box;
}

body {
	font-family: $font-family_1;
}

.login_btns {
	display        : flex;
	flex-direction : column;
	justify-content: center;
	text-align     : center;
}

.signup {
	width : 50%;
	margin: auto;
}

.create_acnt {
	background   : #FFFFFF 0% 0% no-repeat padding-box;
	border       : 2px solid #252BFF;
	border-radius: 28px;
	opacity      : 1;
}

.create_acnt span {
	text-align    : center;
	font          : normal normal bold 14px/16px;
	letter-spacing: 0px;
	color         : #1F39FF;
	text-transform: uppercase;
	opacity       : 1;
}

.navbar {
	width     : 100%;
	box-shadow: 0 1px 4px rgb(146 161 176 / 15%);

	.menu-items {
		display       : flex;
		padding-top   : 120px;
		box-shadow    : inset 0 0 2000px rgba(255, 255, 255, .5);
		height        : 100vh;
		width         : 100%;
		transform     : translate(-150%);
		display       : flex;
		flex-direction: column;
		margin-left   : -40px;
		padding-left  : 50px;
		transition    : transform 0.5s ease-in-out;
		text-align    : center;

		li {
			margin-bottom: 1.2rem;
			font-size    : 1.5rem;
			font-weight  : 500;
		}
	}

	.nav-container {
		li {
			list-style: none;
		}

		a {
			text-decoration: none;
			color          : $color_1;
			font-weight    : 500;
			font-size      : 1.2rem;
			padding        : 0.7rem;

			&:hover {
				font-weight: bolder;
			}
		}
	}
}

.nav-container {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	height         : 62px;
	display        : block;
	position       : relative;
	height         : 60px;

	.checkbox {
		position: absolute;
		display : block;
		height  : 32px;
		width   : 32px;
		top     : 20px;
		left    : 20px;
		z-index : 5;
		opacity : 0;
		cursor  : pointer;
	}

	.hamburger-lines {
		display        : block;
		height         : 26px;
		width          : 32px;
		position       : absolute;
		top            : 17px;
		left           : 20px;
		z-index        : 2;
		display        : flex;
		flex-direction : column;
		justify-content: space-between;

		.line {
			display      : block;
			height       : 4px;
			width        : 100%;
			border-radius: 10px;
			background   : #0e2431;
		}

		.line1 {
			transform-origin: 0% 0%;
			transition      : transform 0.4s ease-in-out;
		}

		.line2 {
			transition: transform 0.2s ease-in-out;
		}

		.line3 {
			transform-origin: 0% 100%;
			transition      : transform 0.4s ease-in-out;
		}
	}

	input[type="checkbox"] {
		&:checked~.menu-items {
			transform: translateX(0);
			top      : 0;
			position : absolute;
			width    : 100%;
			z-index  : 1;
			margin   : 0;
			left     : 0;
		}

		&:checked~.hamburger-lines {
			.line1 {
				transform: rotate(45deg);
			}

			.line2 {
				transform: scaleY(0);
			}

			.line3 {
				transform: rotate(-45deg);
			}
		}

		&:checked~.logo {
			display: none;
		}
	}
}

.logo {
	position : absolute;
	top      : 5px;
	right    : 15px;
	font-size: 1.2rem;
	color    : $color_1;
}

.logo1 {
	position: relative;
	bottom  : 25px;
}

.hamberger__logo {
	a {
		span {
			text-decoration: none;
			font-size      : 30px;
			color          : $color_2;
			font-family    : $font-family_2;
			letter-spacing : 5px;
			font-weight    : lighter;
			text-decoration: none;

			&:nth-child(1) {
				display                : inline-block;
				margin                 : 0;
				background             : -webkit-gradient(linear, left top, right top, color-stop(50%, #3D84FF), color-stop(50%, #172026));
				background             : linear-gradient(to right, #3D84FF 40%, #172026 50%);
				background-clip        : text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		&:hover {
			text-decoration: none;
		}
	}
}

@media only screen and (min-width: 320px) and (max-width: 786px) {
	.hamburgerPhone {
		display: block;
	}

	.headerHamburger {
		display: none;
	}

	.logo1 {
		text-align: center;
	}

	.header__icons {
		position: absolute;
		top     : 15px;
		right   : 5px;
	}

	.navbar {
		.menu-items {
			background-color: $background-color_1;
		}
	}

	.hamberger__logo {
		left    : 30%;
		position: absolute;
		top     : 10px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.logo1 {
		text-align: center;
	}

	.hamberger__logo {
		left    : 40%;
		position: absolute;
		top     : 10px;
	}
}